.cardWrapper{
    width: 100%;
    height: 25vh;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px darkgray, 6px 6px 4px lightgray inset;
}

.buttonWrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttonWrapper button{
    height: 3rem;
    width: 6rem;
}